.about {
	padding: 2rem;
	color: rgba(3, 44, 166, 0.8);
	box-shadow: $box-shadow;
}

.about__details {
	margin: 1rem auto;
}
.about__title {
	font-size: 3.5rem;
	text-align: center;
	text-transform: capitalize;
}

.about__info {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.6rem;
	width: 50%;
	padding: 1rem;
	list-style: none;
	margin: 1rem auto;
}

.about__item {
	flex-basis: 50%;
	padding: 0.5rem;
}
