:root {
	--box-shadow: 0 0.3rem 0.1rem rgba(0, 0, 0, 0.3);
	--red: rgb(255, 0, 0);
	--white: #fff;
	--shadow: rgba(0, 0, 0, 0.3); 
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	line-height: 1.7;
	width: 100%;
	max-width: 100%;
}

a {
	text-decoration: none;
}

.heading__primary {
	color: rgba(3, 44, 166, 0.8);
	padding: 2rem;
	text-align: center;
}
h1 {
	font-size: 4rem;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
}
nav {
	padding: 2rem;
	box-shadow: var(--box-shadow);
	background: linear-gradient(
		120deg,
		hsl(211.10000000000002, 100%, 50%) 44%,
		RGBA(3, 44, 166, 0.8) 29%
	);
}

.nav__list {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.nav__item {
	padding: 1rem;
	margin: 0 3rem 1rem 3rem;
}

.nav__link {
	font-family: inherit;
	font-weight: 700;
	font-size: 1.7rem;
	color: #fff;
	text-transform: capitalize;
}

.nav__link:hover {
	color: rgba(0, 0, 0, 0.5);
}

.hero {
	padding: 2rem;
	margin: 1.5rem 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	color: rgba(3, 44, 166, 0.8);
	box-shadow: 0 6px 16px rgba(3, 44, 166, 0.1);
}
.hero__intro {
	font-size: 3.5rem;
	font-family: "Playfair Display", serif;
}

.hero__name {
	font-size: 4rem;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif; 
	-webkit-animation: bounceInLeft 1.3s  ease-in-out .4s;  
	animation: bounceInLeft 1.3s  ease-in-out .4s;  
 
}

.hero__paragraph {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 2.5rem;
	font-family: Poppins, sans-serif; 
}

.small__text {
	font-size: 1.4rem;
}

.hero__text {
	flex-basis: 45%;
}

.btn {
	cursor: pointer;
	font-weight: 700;
	padding: 1.2rem 3rem;
	display: inline-block;
	color: rgba(3, 44, 166, 0.8);
	border-radius: 3rem;
	box-shadow: 0 1rem 1.5rem rgba(68, 74, 81, 0.4);
	transform: scale(1);
	margin: 1.5rem 0;
	transition: all 0.2s;
	text-transform: lowercase;
	outline: none;
	border: none;
}

.btn:hover {
	border: none;
	transform: scale(1.1);
}

.hero__image {
	width: 20vw;
	max-width: 30rem;
	height: 30vw;
	max-height: 45rem;
	border: 1rem solid white;
	box-shadow: 2px 0.5rem 12px rgba(0, 0, 0, 0.4);
	border-radius: 2.5rem;
	width: 75vw;
	height: 90vw;
	object-fit: cover;
	background-size: cover;
}

.skills {
	padding: 3rem;
	background: hsl(211.10000000000002, 100%, 50%); 
	color: var(--white); 
	box-shadow: var(--box-shadow);
}

.skills__text {
	font-family: Poppins, sans-serif;
}




.skills__title,
.form__heading {
	font-size: 4rem;
	font-weight: 700;
	color: var(--white);  
	text-align: center;

}

.skills__title {
	text-transform: capitalize;
    transform: skewY(-3deg);
	margin: 1rem auto;
	width: 70%; 
}

.style {
	background: linear-gradient(to right bottom, hsl(211.10000000000002, 100%, 50%), RGBA(3, 44, 166, 0.4));
    padding: 1rem 2rem;
    font-family: "Playfair Display", serif;
}

.style--pad {
	padding: .5rem 1rem; 
}

.skills__paragraph {
	width: 50%;
	margin: 2rem auto;
	text-align: center;
	font-size: 2rem;
}

.skills__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.skills__item {
	flex-basis: 25%;
}

.skills__img {
	width: 70%;
}

.about {
	padding: 2rem;
	color: rgba(3, 44, 166, 0.8);
	box-shadow: var(--box-shadow);
}

.about__details {
	margin: 1rem auto;
}
.about__title {
	font-size: 3.5rem;
	text-align: center;
	text-transform: capitalize;
}

.about__info {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.6rem;
	width: 50%;
	padding: 1rem;
	list-style: none;
	margin: 1rem auto;
}

.about__item {
	flex-basis: 50%;
	padding: 0.5rem;
}

.form {
	background-color: 	rgba(3, 44, 166, 0.8);
	padding: 2rem;
	background-image: url("https://res.cloudinary.com/dlu8hugb3/image/upload/v1587145406/bg-form-desktop.png");
	background-size: cover;
	background-blend-mode: normal;
}

form {
	width: 60%;
	background-color: #fff;
	border-radius: 2rem;
	margin: 2rem auto 3rem auto;
	box-shadow: 0.1rem 1rem 0 rgba(62, 60, 73, 0.15);
	font-size: 1.5rem;
	padding: 2rem;
}

.form__heading {
	text-shadow: 6px 6px var(--shadow),
				 5.75px 5.75px var(--shadow),
				 5.75px 5.75px var(--shadow),
				 5.5px 5.5px var(--shadow),
				 5.25px 5.25px var(--shadow),
				 5px 5px var(--shadow),
				 4.75px 4.75px var(--shadow),
				 4.5px 4.5px var(--shadow),
				 4.25px 4.25px var(--shadow),
				 4px 4px var(--shadow),
				 3.75px 3.75px var(--shadow),
				 3.5px 3.5px var(--shadow),
				 3.25px 3.25px var(--shadow),
				 3px 3px var(--shadow),
				 2.75px 2.75px var(--shadow),
				 2.5px 2.5px var(--shadow),
				 2.25px 2.25px var(--shadow),
				 2px 2px var(--shadow),
				 1.75px 1.75px var(--shadow),
				 1.5px 1.5px var(--shadow),
				 1.25px 1.25px var(--shadow),
				 1px 1px var(--shadow),
				 0.75px 0.75px var(--shadow),
				 0.5px 0.5px var(--shadow),
				 0.25px 0.25px var(--shadow);  
}

.form__input {
	font-family: inherit;
	color: inherit;
	padding: 2rem;
	display: block;
	width: 85%;
	margin: 1rem auto;
	border-radius: 0.5rem;
	border: 1.5px solid #f8dddd;
}
.form__input:focus {
	outline: none;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
	border-bottom: 3px solid #ff7a7a;
}
.form__input::-webkit-placeholder {
	color: #938cb8;
}

textarea {
	width: 100%;
	margin: 1rem auto;
	display: block;
	width: 85%;
	padding: 1rem;
	font-size: inherit;
	font-family: inherit;
}

.submit {
	width: 80%;
	margin: 1rem auto;
}

.form__btn {
	width: 100%;
	font-family: inherit;
	font-size: 2rem;
	text-transform: capitalize;
	color: #fff;
	background-color: rgba(3, 44, 166, 0.8);
	background-image: url("https://res.cloudinary.com/dlu8hugb3/image/upload/v1587145406/bg-form-desktop.png");
	background-size: cover;
	background-blend-mode: normal;
}

::placeholder {
	opacity: 0.4;
	font-weight: 300;
	font-style: italic;
	font-family: inherit;
	font-size: 1.5rem;
}

footer {
	background: linear-gradient(to right bottom, #000000, #434343);
	color: rgba(255, 255, 255, 0.5);
	padding: 2rem;
}

.footer__list {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer__item {
	padding: 2rem;
}


.footer__link {
	display: inline-block;
	transition: all .2s; 
}

.footer__link:hover,
.footer__text-link:hover,
.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-whatsapp-square:hover,
.fa-github-square:hover {
	color: rgba(255, 255, 255, 0.7);
}

.footer__text {
	text-align: center;
}

.footer__text-link {
	color: var(--white);
	transition: all .2s; 
}
/*
* ICONS
*/

.fa-3x {
	transition: all 0.2s;
}

.fa-facebook-square {
	color: #1877f2;
}
.fa-twitter-square {
	color: #1da1f2;
}
.fa-whatsapp-square {
	color: #25d366;
}
.fa-github-square {
	color: #7c7070;
}

.fa-heart {
	color: var(--red);
	-webkit-animation: pulse .4s  infinite;  
	animation: pulse .4s   infinite; 
}

/**********************
*ANIMATIONS 
*/
@keyframes bounceInLeft {
	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px, 0, 0);
		transform: translate3d(-3000px, 0, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0);
	}

	75% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	90% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes pulse {
	from {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	50% {
	  -webkit-transform: scale3d(1.05, 1.05, 1.05);
	  transform: scale3d(1.05, 1.05, 1.05);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  /* PULSE */
  @keyframes pulse {
	from {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	50% {
	  -webkit-transform: scale3d(1.05, 1.05, 1.05);
	  transform: scale3d(1.05, 1.05, 1.05);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  
  .pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
  }


@media only screen and (max-width: 31.25em) {
	html {
		font-size: 50%;
	}
	.nav__item {
		margin: 1rem 0;
	}

	.hero__text {
		flex-basis: unset;
	}
	picture {
		margin-top: 2rem;
	}

	.skills__title {
		width: 100%; 
	}

	.skills__paragraph {
		width: 100%;
	}

	.about__info {
		width: 100%;
	}

	form {
		width: 90%;
	}

	.footer__item {
		padding: 1rem;
	}
}
