/*  Color Theme Swatches in Hex  .Glowing-Blue-1-hex {
  color: #230a59;
}
.Glowing-Blue-2-hex {
  color: #3e38f2;
}
.Glowing-Blue-3-hex {
  color: #0029fa;
}
.Glowing-Blue-4-hex {
  color: #5c73f2;
}
.Glowing-Blue-5-hex {
  color: #829fd9;
} */

/*Your bio-data e.g( name, state of origin, date of birth, address, occupation,home town, slack ID,picture)
A summary about yourself (must include your hobbies and interests).
Add a contact form at the bottom of your page.
However you want the page to look like is up to you, BUT  an attractive and presentable page is a bonus. */
:root {
	--box-shadow: 0 .3rem .1rem rgba(0, 0, 0, 0.3); 
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: Poppins, sans-serif;
	font-size: 1.5rem;
	line-height: 1.7;
	width: 100%;
	max-width: 100%;
}

.heading__primary {
	color: rgba(3, 44, 166, 0.8);
	padding: 2rem;
	text-align: center;
}
h1 {
	font-size: 4rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-style: italic;
}

span {
}

nav {
	padding: 2rem;
	box-shadow: var(--box-shadow); 
	background: linear-gradient(
		120deg,
		hsl(211.10000000000002, 100%, 50%) 44%,
		RGBA(3, 44, 166, 0.8) 29%
	);
}

.nav__list {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.nav__item {
	padding: 1rem;
	margin: 0 3rem 1rem 3rem;
}

.nav__link {
	font-family: inherit;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.7rem;
	color: #fff;
	text-transform: capitalize;
}

.hero {
	padding: 2rem;
	margin: 1.5rem 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	color: rgba(3, 44, 166, 0.5);
	box-shadow: 0 6px 16px rgba(3, 44, 166, 0.1);
}
.hero__intro {
	font-size: 3.5rem;
}

.hero__name {
	font-size: 4rem;
	text-transform: uppercase;
}

.hero__paragraph {
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 2.5rem;
	font-family: Poppins, sans-serif;
}

.small__text {
	font-size: 1.4rem;
}

.hero__text {
	flex-basis: 45%;
}

.hero__link {
	cursor: pointer;
	font-weight: 900;
	padding: 1.2rem 3rem;
	display: inline-block;
	color: blue;
	border-radius: 3rem;
	box-shadow: 0 1rem 1.5rem rgba(68, 74, 81, 0.4);
	transform: scale(1);
	margin: 1.5rem 0;
	transition: all 0.2s;
	text-decoration: none;
	text-transform: lowercase;
	outline: none;
}

.hero__link:hover {
	border: none;
	text-decoration: none;
	transform: scale(1.1);
}

.hero__image {
	width: 20vw;
	max-width: 30rem;
	height: 30vw;
	max-height: 450px;
	border: 1rem solid white;
	box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.4);
	border-radius: 2.5rem;
	width: 75vw;
	height: 90vw;
	object-fit: cover;
	background-size: cover;
}

.hero__title--opacity {
	color: rgba(3, 44, 166, 0.5);
}

.skills {
	padding: 3rem;
	background: #2193b0; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6dd5ed,
		#2193b0
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6dd5ed,
		#2193b0
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #fff;
	box-shadow: var(--box-shadow); 
}

.skills__text {
	font-family: Poppins, sans-serif;
}

.skills__title {
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
}

.skills__paragraph {
	width: 50%;
	margin: 2rem auto;
	text-align: center;
	font-size: 2rem;
}

.skills__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.skills__item {
	flex-basis: 25%;
}

.skills__img {
	width: 70%;
}

.about {
	padding: 2rem;
	color:rgba(3, 44, 166, 0.5); 
	box-shadow: var(--box-shadow); 
}

.about__details {
	margin: 1rem auto;
}
.about__title {
	font-size: 3.5rem;
	text-align: center;
	text-transform: capitalize;
}

.about__info {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	padding: 1rem;
	list-style: none;
	margin: 1rem auto;
	/* justify-content: space-between;  */
}

.about__item {
	flex-basis: 50%;
	padding: 0.5rem;
}

@media only screen and (max-width: 31.25em) {
	html {
		font-size: 50%;
	}
	.nav__item {
		margin: 1rem 0;
	}

	.hero__text {
		flex-basis: unset;
	}
	picture {
		margin-top: 2rem;
	}

	.skills__paragraph {
		width: 100%;
		text-align: unset;
	}
}
