$box-shadow: 0 0.3rem 0.1rem rgba(0, 0, 0, 0.3);
$red: rgb(255, 0, 0);
$white: #fff;
$shadow: rgba(0, 0, 0, 0.3);

// FONTS 
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Handlee', cursive;

// COLORS 
$color-primary: rgba(3, 44, 166, 0.8);


